html, body {
  min-height:750px;
  height: 100%;
  width: 100%;
}

li {
  font-size: 4rem;
}
button{
  font-size: 4rem;
}

.header {
    padding: 60px;
    color: white;
  }

.rounded-r{
  border-radius: 2rem;
  border: 2rem;
}

.background-rust{
  background-color: #B33B2D;
}

.text-rust{
  color: #B33B2D;
}

.border-rust{
  border-color: #B33B2D !important;
  border-width: 3px;
  border-style: solid;
}

.background-ivy{
  background-color: #0C584E;
}

.text-ivy{
  color: #0C584E;
}

.background-gold{
  background-color: #FFBB19;
}

.border-ivy{
  border-color: #0C584E;
  
}

.text-gold{
  color: #FFBB19;
}

.background-orange{
  background-color: #E38720;
}

.text-orange{
  color: #E38720;
}

.fill-height-or-more > div {
  /* these are the flex items */
  flex: 1;
}
html, body {
  background-color: #f5e9cd;
}

.background-white{
  background-color: #FFF;
}